.background {
  margin-top: 0;
  background-color: #70B8C4;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position-x: center;
  background-position-y: center;
}
.idle-touming {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.idle-touming .idle-wrapper {
  color: #fff;
  max-width: 960px;
  height: 100%;
  padding: 120px 20px 10px 10px;
  margin: 0px auto;
  text-align: left;
}
.idle-touming a {
  color: rgba(255, 255, 255, 0.3);
}
.idle-touming a i {
  font-size: 4em;
}
.idle-touming .idle-title {
  margin-top: 20px;
  font-size: 50px;
}
.idle-touming .quote-warpper {
  font-size: 13px;
  margin: 50px auto;
  max-width: 100%;
}
.idle-wrapper {
  color: rgba(255, 255, 255, 0);
  max-width: 960px;
  padding: 100px 20px 10px 10px;
  margin: 0px auto;
  text-align: left;
}
.idle-wrapper .logo .img {
  display: block;
  padding: 20px;
  max-width: 350px;
}
.idle-wrapper .logo .img img {
  max-width: 100%;
}
.idle-wrapper .logo .faith {
  margin: 40px 20px 20px;
  font-size: 1.6em;
  color: #fff;
}
.idle-wrapper .idle-index-content {
  font-size: 13px;
  margin: 20px;
  color: white;
}
.idle-cover {
  font-size: 16px;
  margin: 0 auto;
  width: 100%;
}
.idle-cover .idle-title {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.idle-cover .idle-title h3 {
  display: block;
  max-width: 900px;
  margin: 0 auto;
  font-size: 25px;
  height: 80px;
  line-height: 80px;
  color: rgba(255, 255, 255, 0);
}
.idle-cover .idle-content {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}
.idle-cover .idle-content img {
  width: 100%;
}
.blog-index {
  font-size: 16px;
  margin: 0 auto;
  width: 100%;
}
.blog-index .brand {
  width: 100%;
  height: 120px;
  line-height: 120px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.blog-index .brand h3 {
  display: block;
  margin: 0px auto;
  font-size: 24px;
  line-height: 80px;
  color: #6495ed;
}
.blog-index .content {
  display: block;
  max-width: 960px;
  margin: 0 auto;
  border-bottom: 1px dashed #d9d9d9;
}
.blog-index .content .blog-index-content {
  width: 100% !important;
  padding: 20px;
}
.blog-index .content .blog-index-content .blog-img {
  width: 100%;
}
.blog-index .content .blog-index-content .blog-img img {
  width: 100%;
}
.blog-index .content .blog-index-content .blog-content {
  padding: 0px;
}
.index-title {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0;
  display: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}
/*left panel*/
.row-fluid {
  width: 100%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 0%;
}
.row-fluid .span3 {
  width: 25.0%;
}
.row-fluid .span7 {
  padding-left: 12px;
  width: 58.33333%;
  max-width: 1000px;
}
.row-fluid .offset3 {
  margin-left: 25.0%;
}
.row-fluid .thumbnails {
  padding-left: 36px;
  margin: 35px 0 0;
}
.row-fluid .page-title {
  padding-left: 20px;
  border-bottom: 2px solid #d9d9d9;
  font-size: 12px;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-fluid:after {
  clear: both;
}
.left-aside {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 45px;
}
.left-aside .img-wrapper {
  color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  padding: 30px;
}
.left-aside .img-wrapper a {
  color: rgba(255, 255, 255, 0.3);
}
.left-aside .img-wrapper a i {
  font-size: 4em;
}
.left-aside .img-wrapper h1 {
  margin-top: 20px;
}
.left-aside .img-wrapper .quote-warpper {
  font-size: 13px;
  margin: 50px auto;
  padding-left: 50px;
}
.left-aside .img-wrapper .index-icon {
  float: right;
}
.article-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.article-list .article {
  position: relative;
  width: 100%;
  padding-right: 2px;
  padding-bottom: 17px;
  margin: 0 0 17px;
  border-bottom: 1px dashed #d9d9d9;
  box-sizing: border-box;
  word-wrap: break-word;
}
.article-list .article .wrap-img {
  float: right;
  width: 100px;
  height: 100px;
}
.article-list .article .list-top {
  margin: 8px 0;
  font-size: 12px;
}
.article-list .article .title {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0;
  display: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}
.article-list .article .title a {
  color: rgba(0, 0, 0, 0.6);
}
.article-list .article .title a:hover {
  color: #000000;
}
.article-list .article .list-footer {
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}
.article-list .have-img > div {
  padding-right: 110px;
}
.load-more {
  margin-bottom: 30px;
  text-align: center;
}
.load-button {
  background: #666;
  border: 0;
  padding: 14px 18px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.load-button[data-color=maleskine] {
  background: #e78170;
}
