<% include ../header.html %>
<div class="container">
    <div class="about">
        <div class="about-img">

        </div>
        <div class="about-content">
            <div class="quote">持之以恒</div>
            <h3>hi ,it's me!</h3>
            <div class="about-me">
                <p>喜欢做梦</p>
                <p>想到处旅行，拍很多照片</p>
                <p>想写很多很多文字</p>
                <p>~~~~~~</p>
            </div>
            <div class="contact">
                <h3>联系方式</h3>
                <ul>
                    <li>邮箱 826773811@qq.com</li>
                </ul>
            </div>
        </div>

    </div>
</div>
<% include ../footer.html %>