<div class="row-fluid">
    <div></div>
    <div class="span7 offset3">
        <div class="footer">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li><a href="http://weibo.com/dyduan"><i class="fa fa-weibo"></i></a></li>
                    <li><a href="https://github.com/Duany"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
            <div class="col-md-12">
                <ul class="list-inline">
                    <li> Power By &nbsp;<a href="http://nodejs.org">Node.js</a></li>
                    <li> Host By &nbsp;<a href="https://www.digitalocean.com/">DigitalOcean</a>
                    </li>
                    <li> 2016, &nbsp; lillad.me © By &nbsp;<a href="http://lillad.me">Lillad</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="scripts/third-party/moment.js"></script>
<script src="scripts/service.js"></script>
</body>
</html>