<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Lilla D's Website</title>
    <base href="/">
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="components/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/lillad.css">
    <script src="components/jquery/dist/jquery.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body class="home-page" data-spy="scroll" data-target=".bs-navbar-scrollspy">
<div class="navbar navbar-lillad navbar-fixed-left expanded">
    <!-- navbar begin-->
    <div class="dropdown">
        <a class="active logo" href="/" data-toggle="tooltip" data-placement="right" title="Home">
            <b>L</b><i class="fa fa-home"></i><span class="title">首页</span>
        </a>
        <a href="/blog" data-toggle="tooltip" data-placement="right" title="Blog">
            <i class="fa fa-th"></i><span class="title">Blog</span>
        </a>
        <a href="/view" data-toggle="tooltip" data-placement="right" title="View">
            <i class="fa fa-th"></i><span class="title">View</span>
        </a>
        <a href="/tag" data-toggle="tooltip" data-placement="right" title="Tag">
            <i class="fa fa-mobile"></i><span class="title">Tag</span>
        </a>
        <a href="/idle" data-toggle="tooltip" data-placement="right" title="Small Talk">
            <i class="fa fa-th"></i><span class="title">Small Talk</span>
        </a>
    </div>
    <div class="navbar-user">
        <a href="/about"data-toggle="tooltip" data-placement="right" title="About">
            <i class="fa fa-sign-in"></i><span class="title">About</span>
        </a>
        <% if(user) {%>
        <a href="/manage"data-toggle="tooltip" data-placement="right" title="Manage">
            <i class="fa fa-sign-in"></i><span class="title">Manage</span>
        </a>
        <a href="/logout"data-toggle="tooltip" data-placement="right" title="Log out">
            <i class="fa fa-sign-in"></i><span class="title">Log out</span>
        </a>
        <% } %>
    </div>

</div>